<div id="body">
    <div
        class="relative bg-white px-6 pt-10 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
        <div class="mx-auto max-w-md">
            <div class="flex justify-center">
                <img src="../assets/icones/icone_32-bleu.png" class="h-8 mt-1" alt="Tailwind Play" />
                <h1 class="block text-3xl font-extrabold text-gray-900 ml-4">Billun</h1>
            </div>

            <div class="px-6 py-4">
                <p class="mt-1 text-center text-gray-400">Signaler une url ou une adresse email.</p>

                <form method="post">
                    <div class="w-full mt-4">
                        <input name="signal" id="signal" [(ngModel)]="signal"
                            class="block w-full px-4 py-2 mt-2 text-white border rounded-lg bg-gray-800 border-gray-600 placeholder-gray-400 focus:border-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300"
                            type="text" placeholder="Url / Email" />
                    </div>
                    <div class="flex items-center justify-between mt-4">
                        <button type="submit" id="sendData" (click)="sendSignal()"
                            class="px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                            Signaler
                        </button>
                        <button style="display:inline-block" class="px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50" (click)="login()" *ngIf="!isLoggedIn()">Se connecter avec Outlook</button>
                        <button  class="px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50" (click)="logout()" *ngIf="isLoggedIn()">Deconnecter</button>
                    </div>
                    <div *ngIf="isLoggedIn()" class="vertical-center">
                      <button class="px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50" (click)="set()">Verifier</button>
                      <button class="px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50" (click)="reset()">Demarquer</button>
                  </div>
                </form>
            </div>

            <div class="flex items-center justify-center py-4 text-center ">
                <a href="https://Billun.com" class="mx-2 text-sm font-bold text-blue-400 hover:underline"  target="_blank">A propos</a>
            </div>
        </div>

    </div>
</div>